<?xml version="1.0"?>
<launch>
  <!-- Argumente -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <!-- Starte Gazebo mit dem UR5 -->
  <include file="$(find ur5_rg2_ign)/launch/ur5_rg2_gazebo.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
  <!-- Warte, bis Gazebo vollständig gestartet ist, bevor die Controller gestartet werden -->
  <arg name="wait_for_gazebo" default="5.0" />
  <node pkg="rospy" type="sleep.py" name="wait_for_gazebo" args="$(arg wait_for_gazebo)" />
  
  <!-- Starte die Controller -->
  <include file="$(find ur5_rg2_ign)/launch/ur5_rg2_control.launch">
    <arg name="launch_prefix" value="bash -c 'sleep $(arg wait_for_gazebo); $0 $@'" />
  </include>
  
  <!-- Warte, bis die Controller gestartet sind, bevor MoveIt gestartet wird -->
  <arg name="wait_for_controllers" default="2.0" />
  <node pkg="rospy" type="sleep.py" name="wait_for_controllers" args="$(arg wait_for_controllers)" />
  
  <!-- Starte MoveIt -->
  <include file="$(find ur5_rg2_ign)/launch/ur5_rg2_moveit.launch">
    <arg name="launch_prefix" value="bash -c 'sleep 7.0; $0 $@'" />
  </include>
</launch> 